@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Cedarville Cursive", cursive;
    background-color: #f2f1c9;
}